body {
  max-width: 960px;
}

main {
  position: relative;
  margin-left: 30%;
  max-width: 75%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: darkmagenta;

}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links {
  max-width: 20%;
  display:  vertical-align;
  position: fixed;

}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  main {
    padding-left: 0em;
    margin-left: 25%;
    background-color: hotpink;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  main {
    padding-right: 4em;
    margin-left: 25%;
    background-color: dodgerblue;
  }
}


/*
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
*/